

ul, ol {
    list-style: none;
}

/* Gridster styles */
.projects {
  padding: auto;
}

.gridster {
  width: 1010px;
  margin: auto;
}

.gridster .gs_w {
}

img {
    max-height: 100%;
    width: 100%;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 100%;
  width: 100%
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}


span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.gridster .gs_w:hover span.text-content {
  opacity: 1;
}
